<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculos_Trabalhistas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Calculos_Trabalhistas.Properties.Settings>
            <setting name="SalárioMínimo" serializeAs="String">
                <value>880</value>
            </setting>
            <setting name="FGTS" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FGTS_SJC" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="HoraNoturna" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Detalhes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HN" serializeAs="String">
                <value>True</value>
            </setting>
        </Calculos_Trabalhistas.Properties.Settings>
    </userSettings>
</configuration>